+b('header').header
  +b.burger.js-burger(type="button", aria-label="открыть меню")
    +e('span').meat
  +e('span').shadow
  +b('nav').menu
    +e('ul').cols
      +e.col
        +e('ul').list
          +e.item
            +e.href(href="#") Продукция
            +e('ul').sublist
              +e.subitem
                +e.subhref(href="#") Крупы
              +e.subitem
                +e.subhref(href="#") Каши
              +e.subitem
                +e.subhref(href="#") Макаронные изделия
              +e.subitem
                +e.subhref(href="#") Готовые завтраки
              +e.subitem
                +e.subhref(href="#") Снэки
              +e.subitem
                +e.subhref(href="#") Мука
              +e.subitem
                +e.subhref(href="#") Масло
              +e.subitem
                +e.subhref(href="#") Тесто и полуфабрикаты
              +e.subitem
                +e.subhref(href="#") Хлебобулочные изделия
              +e.subitem
                +e.subhref(href="#") Комбикорм
              +e.subitem
                +e.subhref(href="#") Растительные напитки
      +e.col
        +e('ul').list
          +e.item
            +e.href(href="#") О компании
            +e('ul').sublist
              +e.subitem
                +e.subhref(href="#") Новости
              +e.subitem
                +e.subhref(href="#") Награды
              +e.subitem
                +e.subhref(href="#") Сертификаты
          +e.item
            +e.href(href="#") Тендерная площадка
          +e.item
            +e.href(href="#") Акции
      +e.col
        +e('ul').list
          +e.item
            +e.href(href="#") Корпоративная культура
          +e.item
            +e.href(href="#") Интересная информация
          +e.item
            +e.href(href="#") Партнерам
          +e.item
            +e.href(href="#") Контакты