.hidden-block
  .popup__over
    span.popup__bg.js-popbg
    +b.popup#text
      +e.close.js-popclose(type="button", title="Закрыть")
      +e('p').title Заявка отправлена
      +e('p').subtitle Спасибо. Ваша заявка успешно отправлена. Мы свяжемся с вами по указанному номеру в самое ближайшее время.
      +e.close-btn.btn.js-popclose(type="button") Закрыть