+b('aside').side
  +e('section').logo-wrapper
    +e.logo-href(href="#")
      +e.logo-img(src="img/logo-upper.png")
      +e.logo-img(src="img/logo-bottom.png")
  +e('section').tabs
    +e('button').tabs-elem.active.js-tab(type="button", data-group="side", data-tab="brands") Бренды
    +e('button').tabs-elem.js-tab(type="button", data-group="side", data-tab="products") Продукты
  +e('section').blocks.js-side-scroll
    +e('ul').block.js-block.show(data-tab="brands", data-group="side")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand1.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand2.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand3.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand4.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand5.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand6.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand7.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand8.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand9.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand10.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand11.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand12.png")
      +e.block-item
        +e.block-href(href="#")
          +e.block-img(src="img/brand13.png")
    +e('ul').block.js-block(data-tab="products", data-group="side")
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product3.png")
          +e.block-name Весовые макаронные изделия
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product5.png")
          +e.block-name Готовые завтраки
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product12.png")
          +e.block-name Зерновые хлопья
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product2.png")
          +e.block-name Каши
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product11.png")
          +e.block-name Комбикорм
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product1.png")
          +e.block-name Крупы
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product3.png")
          +e.block-name Макаронные изделия
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product8.png")
          +e.block-name Масло
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product7.png")
          +e.block-name Мука
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product9.png")
          +e.block-name Тесто и полуфабрикаты
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product4.png")
          +e.block-name Растительные напитки
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product6.png")
          +e.block-name Снэки и чипсы
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product10.png")
          +e.block-name Хлеб и хлебобулочные изделия
      +e.block-item._products
        +e.block-href(href="#")
          +e.block-icon(src="img/side-product13.png")
          +e.block-name Хлопья быстрого приготовления


  