include bemto/bemto
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    include layout/__side
  
    +b('main').main
      +b('section').categories
        +e.video-wrapper
          +e('video').video(preload, autoplay, loop, poster="img/video-poster.jpg")
            source(src="video/video.mp4", type="video/mp4")
        +e('section').top
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
          h1 Продукция
          +e('ul').list
            +e.item
              +e.item-href(href="#") Весовые макаронные изделия
            +e.item
              +e.item-href(href="#") Готовые завтраки
            +e.item
              +e.item-href(href="#") Зерновые хлопья
            +e.item
              +e.item-href(href="#") Каши
            +e.item
              +e.item-href(href="#") Комбикорм
            +e.item
              +e.item-href(href="#") Крупы
            +e.item
              +e.item-href(href="#") Макаронные изделия
            +e.item
              +e.item-href(href="#") Масло
            +e.item
              +e.item-href(href="#") Мука
            +e.item
              +e.item-href(href="#") Тесто и полуфабрикаты
            +e.item
              +e.item-href(href="#") Растительные напитки
            +e.item
              +e.item-href(href="#") Снэки и чипсы
            +e.item
              +e.item-href(href="#") Хлеб и хлебобулочные изделия
            +e.item
              +e.item-href(href="#") Хлопья быстрого приготовления
        +e('section').catalog
          +e('p').catalog-title Каталог по брендам
          +e('ul').catalog-list
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand2.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand3.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand12.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand10.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand1.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand11.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand4.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand5.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand8.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand13.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand6.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand7.png", alt="")
            +e.catalog-item
              +e.catalog-href(href="#")
                +e.catalog-img(src="img/brand9.png", alt="")
       
      include layout/__footer
    include layout/__scripts