include bemto/bemto
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    include layout/__side
  
    +b('main').main
      +b('section').news._list
        +e('section').top
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
          h1 Интересная информация
        +e('section').tabs
          +e.tabs-button.js-tab.active(type="button", data-group="news", data-tab="smi") СМИ о нас
          +e.tabs-button.js-tab(type="button", data-group="news", data-tab="news") Новости компании
          +e.tabs-button.js-tab(type="button", data-group="news", data-tab="news_prof") Новости профсоюза
        +e('section').blocks
          +e('ul').block.js-block.show(data-tab="smi", data-group="news")
            +e.grid.height2
              +e.item-img(src="img/news1.jpg", alt="")
              +e.item-content
                +e('p').item-date 25 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Приятные цены на продукцию «Союзпищепром» порадуют посетителей АгроПродЭкспо. Урожай-2017»
                +e('p').item-text.js-shave(data-height="84") С 20 по 23 октября в ледовой арене «Трактор» пройдет Уральские продовольственный форум «АгроПродЭкспо. Урожай-2017». 
            +e.grid
              +e.item-content
                +e('p').item-date 18 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") «Союзпищепром» производит лучшие продукты в России
                +e('p').item-text.js-shave(data-height="84") Завершилась крупнейшая в стране агропромышленная выставка «Золотая осень-2017» в Москве. По итогам конкурса компания «Союзпищепром» получила сразу 8 золотых медалей! 
            +e.grid
              +e.item-content
                +e('p').item-date 11 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Александр Берестов награжден Орденом дружбы
                +e('p').item-text.js-shave(data-height="84") Указом Президента РФ Владимира Путина Президент объединения ООО «СоюзПищепром»,  Александр Берестов награжден Орденом дружбы за заслуги в развитии агропромышленного комплекса России.
            +e.grid
              +e.item-content
                +e('p').item-date 08 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Участники фитнес-конвенции выбирают для себя «Здоровое меню»
                +e('p').item-text.js-shave(data-height="84") 7-8 октября в легкоатлетическом комплексе имени Елены Елесиной прошла XVII Международная фитнес-конвенция Fitural.
            +e.grid
              +e.item-content
                +e('p').item-date 19 / 09 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Молоко в 3D: завод растительного молока "оживет" на «Золотой осени»
                +e('p').item-text.js-shave(data-height="84") В Москве на ВДНХ с 4 по 7 октября пройдет крупнейшая в стране агропромышленная выставка «Золотая осень-2017». Челябинская область на экспозиции будет представлена отдельным стендом. Одним из южноуральских участников сельскохозяйственной выставки станет челябинское «Объединение «СоюзПищепром».
            +e.grid
              +e.item-content
                +e('p').item-date 08 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Участники фитнес-конвенции выбирают для себя «Здоровое меню»
                +e('p').item-text.js-shave(data-height="84") 7-8 октября в легкоатлетическом комплексе имени Елены Елесиной прошла XVII Международная фитнес-конвенция Fitural.
            +e.grid
              +e.item-content
                +e('p').item-date 19 / 09 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Молоко в 3D: завод растительного молока "оживет" на «Золотой осени»
                +e('p').item-text.js-shave(data-height="84") В Москве на ВДНХ с 4 по 7 октября пройдет крупнейшая в стране агропромышленная выставка «Золотая осень-2017». Челябинская область на экспозиции будет представлена отдельным стендом. Одним из южноуральских участников сельскохозяйственной выставки станет челябинское «Объединение «СоюзПищепром».
          +e('ul').block.js-block(data-tab="news", data-group="news")
            +e.grid.height2
              +e.item-img(src="img/news1.jpg", alt="")
              +e.item-content
                +e('p').item-date 25 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Приятные цены на продукцию «Союзпищепром» порадуют посетителей АгроПродЭкспо. Урожай-2017»
                +e('p').item-text.js-shave(data-height="84") С 20 по 23 октября в ледовой арене «Трактор» пройдет Уральские продовольственный форум «АгроПродЭкспо. Урожай-2017». 
            +e.grid
              +e.item-content
                +e('p').item-date 18 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") «Союзпищепром» производит лучшие продукты в России
                +e('p').item-text.js-shave(data-height="84") Завершилась крупнейшая в стране агропромышленная выставка «Золотая осень-2017» в Москве. По итогам конкурса компания «Союзпищепром» получила сразу 8 золотых медалей! 
          +e('ul').block.js-block(data-tab="news_prof", data-group="news")
            +e.grid.height2
              +e.item-img(src="img/news1.jpg", alt="")
              +e.item-content
                +e('p').item-date 25 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") Приятные цены на продукцию «Союзпищепром» порадуют посетителей АгроПродЭкспо. Урожай-2017»
                +e('p').item-text.js-shave(data-height="84") С 20 по 23 октября в ледовой арене «Трактор» пройдет Уральские продовольственный форум «АгроПродЭкспо. Урожай-2017». 
            +e.grid
              +e.item-content
                +e('p').item-date 18 / 10 / 2017
                +e.item-href.js-shave(href="#", data-height="96") «Союзпищепром» производит лучшие продукты в России
                +e('p').item-text.js-shave(data-height="84") Завершилась крупнейшая в стране агропромышленная выставка «Золотая осень-2017» в Москве. По итогам конкурса компания «Союзпищепром» получила сразу 8 золотых медалей! 


      include layout/__footer
    include layout/__scripts