include bemto/bemto
include mixins/index

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
    include layout/__side
  
    +b('main').main
      .container
        +b('section').text
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim / 
          h1 Очень большой заголовок первого уровня
          p В год 110-летия ОАО КХП им. Григоровича - головного предприятия «СоюзПищепрома», началось позиционирование нашей продукции как Национального Российского Продукта. Это важный этап в оценке роли предприятий Объединения на продовольственном рынке страны. Сегодня каждый четвертый россиянин знает и выбирает продукты питания полезного ассортимента торговых марок «Царь» и «СоюзПищепром». Но не только в России придерживаются наших принципов здорового питания.
          p Современные технологии мощного пищевого производства позволяют создавать линейки продуктов функционального питания для здоровья и профилактики болезней. Для наших покупателей это сейчас очень важно. Сегодня ценятся натуральность, вкус и польза. Все это заложено в емкое понятие Национальный Российский Продукт. 
          img(src="img/text.jpg")
          p В богатых традициях русской кухни, которые мы соблюдаем и преумножаем, есть важный принцип простоты и пользы. Он объединяет наших покупателей из разных стран, всех тех, кто желает быть здоровыми и успешными.
          h2 Очень-очень большой, в две строки, заголовок второго уровня
          p Время новых изменений и модернизации пришлось на начало 80-х годов, когда было принято решение построить новую мельницу мощностью в 300 тонн, в 1984-м году ее ввели в эксплуатацию. За последующие 20 лет предприятие, названное в 1992 году именем старейшего работника, инженера-рационализатора, Лауреата Государственной премии Анатолия Федоровича Григоровича, работало стабильно, обеспечивая плановые объемы выпуска продукции.
          table
            thead
              tr
                th Бренды
                th Описание
            tbody
              tr
                td Союзпищепром
                td Возродим традиции русского питания для здоровья будущих поколений
              tr
                td Здоровое меню
                td Готовые завтраки – новинки для красоты и здоровья
              tr
                td Затейница
                td Классика вкуса
              tr
                td Честный продукт
                td Энергия быстрого и полезного завтрака
              tr
                td ХруСмайлики
                td Возродим традиции русского питания для здоровья будущих поколений
              tr
                td Chipas
                td Готовые завтраки – новинки для красоты и здоровья
              tr
                td Free Chat
                td Классика вкуса
              tr
                td Царь
                td Лидер продовольственного рынка России
          p Торговая марка «СоюзПищепром» - родовой бренд предприятий объединения, представленный на продовольственном рынке России уже более 15 лет. ТМ «СоюзПищепром» - марка с историей. Покупатели осознанно выбирают продукцию от «СоюзПищепрома», доверяя качеству ассортимента, профессионализму и авторитету производителя. Особенностью марочного ассортимента «СоюзПищепрома» стало позиционирование в сегменте эконом-класса. Качество и польза злаков – так представляет производитель свою бакалейную группу продукции.
          h3 Очень-очень большой, в две строки, заголовок третьего уровня
          p Время новых изменений и модернизации пришлось на начало 80-х годов, когда было принято решение построить новую мельницу мощностью в 300 тонн, в 1984-м году ее ввели в эксплуатацию. За последующие 20 лет предприятие, названное в 1992 году именем старейшего работника, инженера-рационализатора, Лауреата Государственной премии Анатолия Федоровича Григоровича, работало стабильно, обеспечивая плановые объемы выпуска продукции.
          ul
            li Союзпищепром
            li Здоровое меню
            li Затейница
            li Честный продукт
            li ХруСмайлики
            li Chipas
            li Free Chat
            li Царь
          p Современные технологии мощного пищевого производства позволяют создавать линейки продуктов функционального питания для здоровья и профилактики болезней. Для наших покупателей это сейчас очень важно. Сегодня ценятся натуральность, вкус и польза. Все это заложено в емкое понятие Национальный Российский Продукт. Этот бренд стоит на каждой пачке ассортимента торговых марок «Царь» и «СоюзПищепром». Для производителя это высокий статус и большая ответственность.
          ol
            li Союзпищепром
            li Здоровое меню
            li Затейница
            li Честный продукт
            li ХруСмайлики
            li Chipas
            li Free Chat
            li Царь
          p Современные технологии мощного пищевого производства позволяют создавать линейки продуктов функционального питания для здоровья и профилактики болезней. Для наших покупателей это сейчас очень важно. Сегодня ценятся натуральность, вкус и польза. Все это заложено в емкое понятие Национальный Российский Продукт. Этот бренд стоит на каждой пачке ассортимента торговых марок «Царь» и «СоюзПищепром». Для производителя это высокий статус и большая ответственность.
       
      include layout/__footer
    include layout/__scripts