.breadcrumbs
  color $grey
  mb 15px
  fontify 16px 400 20px
  &__href
    color inherit
    border-bottom 1px solid
    transition .7s border
    &:not([href])
      border-color transparent
    &:hover
      border-color transparent
  &__delim
    display inline-block
    vertical-align top
    margin 2px 12px 0px

  & + h1:not([class])
    mt 0