.fakecheckbox
  ib()
  pos relative
  c black
  &__label
    ib()
    fontify 18px 400 28px
    pos relative
    pl 37px
    mt 20px
    mb 8px
    &:before 
      content ""
      pos absolute
      l 0px
      t 0
      size 26px
      border 1px solid $bgrey
      border-radius 2px
      bgc $bgrey
      cursor pointer
      transition .7s border, .7s background-color
    &:after
      content ""
      pos absolute
      size 14px 10px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAQAAAAu0KdMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQ4JBTO5TZUTAAAAjElEQVQY023OsQqBARTF8SulmK1KGZTN4B08gslmMpqMNpPRajKZTFImDyBPoJRNyQPgZ+CLj++e4d7b/3buyYnMysU09iFLeTNMstEcY/GPChYYCRHKGim0xPC1hbWz5hsVrTwMktNQd3LREko2HvofnxBqjq7atu563/9freqAm246XDJU7HR+kz8BjP+aQ34wtbIAAAAASUVORK5CYII=') no-repeat center
      l 6px
      t 9px
      opacity 0
      cursor pointer
      transition .7s opacity
    a
      color inherit
      border-bottom 1px solid alpha($grey, .3)
      transition .7s border
      &:hover
        border-color transparent
  &__truecheck
    pos absolute
    l 0
    t 0
    w 0
    h 0
    border 0
    opacity 0
    &:checked + ^[0]__label:before
      bgc $green
      border-color $green
    &:checked + ^[0]__label:after
      opacity 1
    &.warning + ^[0]__label:before 
      border-color $red