.header
  &__shadow
    pos fixed
    t 0
    l 0
    z-index 5
    bgc $green
    size 100% 0
    transition .7s height

.burger
  pos fixed
  z-index 11
  r 0
  t 0
  size 130px
  bgc white
  cursor pointer
  transition .7s transform, .3s .7s background-color
  transform-origin top right
  @media $lDesktopSmall
    transform scale(.9)
  @media $desktopTablet
    transform scale(.75)
  @media $PortraitMax
    transform scale(.65)
  &:before
    content ""
    pos absolute
    l 50px
    t 50px
    size 30px 1px
    bgc black
    transition .5s width, .5s background, .5s transform, .5s top
  &__meat
    content ""
    pos absolute
    l 50px
    t 64px
    size 30px 1px
    bgc black
    transition .5s width, .5s background, .5s transform, .5s top  
  &:after
    content ""
    pos absolute
    l 50px
    b 51px
    size 30px 1px
    bgc black
    transition .5s width, .5s background, .5s transform, .5s bottom 
  &.open
    background-color transparent
    transition .7s transform
    &:before
      background-color white
      animation burger-top 1s ease-in-out forwards
    &:after
      background-color white
      animation burger-bottom 1s ease-in-out forwards
    & ^[-1]__meat
      background-color white
      opacity 0
    & ~ .header__shadow
      h 100%
  &.open.remove
    &:before
      animation burger-top-invert .3s ease-in-out forwards
    &:after
      animation burger-bottom-invert .3s ease-in-out forwards
    & ^[-1]__meat
      opacity 1
      transition .4s opacity .6s
  &__shadow
    bgc white
    pos fixed
    b 0
    l 0
    w 100%
    h 0
    transition .7s height
      
html:not(.touchevents) .burger
  &:not(.open):hover
    &:before
      t 47px
    &:after
      b 48px
  &:not(.open):hover &__meat
    animation burger-hover 1s infinite ease-in-out alternate forwards 200ms

html.no-touchevents
  body.burgeropen
    overflow hidden !important
    mr 17px