.hidden-block
  height 0

.popup
  pos absolute
  z-index 1
  width 0
  h 100%
  oh()
  bgc white
  visibility hidden
  will-change transform
  transition .4s .2s opacity, .4s .2s width ease-in-out
  &:not(&_card)
    max-width calc(50% - 110px)
    @media $desktopTablet
      max-width calc(50% - 90px)
    @media $LandscapeMedium
      max-width calc(100% - 180px)
    @media $LandscapeMin
      max-width 100%
  &_card
    max-width calc(100% - 220px)
    bgc $bgrey
    padding 0
    @media $desktopTablet
      max-width calc(100% - 180px)
    @media $LandscapeMin
      max-width 100%
    .card
      &__side
        position sticky
        t 0
        bgc $bgrey
        @media $desktopMedium
          position static
      &__side,
      &__content-inner
        opacity 0
      &__content
        bgc white
        padding 75px 45px 60px
        @media $desktopTablet
          padding 45px 35px 40px
        @media $PortraitMax
          pl 20px
          pr 20px
      &__chars
        mt 60px
      &__form
        padding 0
        margin 82px 0 0
  &__inner
    padding 75px 80px 80px
    opacity 0
    @media $lDesktopSmall
      padding 51px 49px 60px
    @media $desktopTablet
      pl 35px
      pr 35px
    @media $PortraitMax
      pt 80px
      pl 20px
      pr 20px
  &:not(.show)
    @media $ie
      dn()
  &.show
    pos relative
    opacity 1
    visibility visible
    w 100%
    overflow visible
    .card__side,
    .card__content-inner,
    & ^[0]__inner
      opacity 1
      transition .4s .6s opacity
  &__over
    dfv(flex-end, center)
    t 0
    l 0
    r 0
    b 0
    pos fixed
    overflow hidden
    z-index -1
    @media $PortraitMax
      padding 0
  &__bg
    pos fixed
    z-index 0
    t 0
    r 0
    b 0
    l 0
    bgc rgba(0, 0, 0, 0.4)
    opacity 0
    transition .4s opacity, .4s width ease-in-out
    &.show
      opacity .9
    /html.no-touchevents &
      r 17px
  &-show
    oh()
    & ^[0]__over
      overflow-y scroll
      z-index 1000
  &__title
    pos relative
    z-index 1
    c black
    fontify 60px 500 64px
    @media $lDesktopSmall
      fontify 48px 400 52px
    @media $desktopMedium
      fontify 38px 400 42px
    @media $desktopTablet
      fontify 30px 400 34px
    &:before
      content attr(data-text)
      pos absolute
      z-index -1
      color $shadow
      w calc(100% + 10px)
      l 10px
      t 10px
      transition .7s 1s left, .7s 1s top
  &__subtitle
    fontify 18px 400 28px
    mt 32px
  &__close
    pos absolute
    z-index 100
    t 30px
    r 30px
    size 25px 25px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQ8MICkSqxkAAAAAvUlEQVQ4y5XUsQ3CQAyF4T+PsW6P0DIAoo7EFEB2QBexA9UVzJEx0lAQQi7nSw6Xtr7CfpKr552WQGk5jqLF44qBpxWBfSFyePYEQSEaAQiK0AS+ZAvNwI+soQjMSQ4tQEwslIAl+aBuQgZICQTqEZkAdod03Z4XHQMXC9gEegaunHlYQ1lNHA0nGjsnmaCj5kZt56QMCGTDVQL8CMghJSC+koG0CkykDWAgbYIEqQAskIpAhFQIZqj6/4+9AX+6YCAbdqrhAAAAAElFTkSuQmCC') no-repeat center
    transition .7s background
    &:hover
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZBAMAAAA2x5hQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUNgyoNgyoNgyoNgyoNgyoNgyoNgyr///+g/DoWAAAABnRSTlMApzvk5W01almHAAAAAWJLR0QHFmGI6wAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MFDwwgNHGtddkAAABfSURBVBjTYxBigAMmAQZlBTgPyGQygksZQUTgUgxwSSgNlYRSEEG4frAoXDtIGGE0g4oCsrVMTkhSQMkQBSQeayoDLjlUfShmotqH4hZUd6L4AdV/KH5HDRfUMEMJTwC98gtRtyipIQAAAABJRU5ErkJggg==') no-repeat center
    &-btn
      mt 40px


.no-touchevents .popup-show
  mr 17px