.hidden-block
  height 0

.popup
  pos absolute
  z-index 1
  width 90%
  max-width 640px
  bgc white
  opacity 0
  visibility hidden
  transform scale(.9)
  will-change transform
  padding 75px 80px 80px
  transition .7s .7s transform, .7s .7s opacity
  @media $lDesktopSmall
    padding 51px 49px 60px
  @media $desktopTablet
    pl 35px
    pr 35px
  @media $PortraitMax
    pt 80px
    pl 20px
    pr 20px
    w 100%
    h 100%
  &.show
    pos relative
    opacity 1
    visibility visible
    transform scale(1)
  &__over
    dfv(center, center)
    padding 30px 0
    t 0
    l 0
    r 0
    b 0
    pos fixed
    overflow hidden
    z-index -1
    @media $PortraitMax
      padding 0
  &__bg
    pos fixed
    z-index 0
    l 0
    r 0
    b 0
    h 0
    bgc rgba(0, 0, 0, 0.4)
    opacity 0
    transition .7s opacity, .7s height
  &-show
    oh()
    & ^[0]__bg
      h 100%
      opacity .9
    & ^[0]__over
      overflow-y scroll
      z-index 1000
  &__title
    pos relative
    z-index 1
    c black
    fontify 60px 500 64px
    @media $lDesktopSmall
      fontify 48px 400 52px
    @media $desktopMedium
      fontify 38px 400 42px
    @media $desktopTablet
      fontify 30px 400 34px
    &:before
      content attr(data-text)
      pos absolute
      z-index -1
      color $shadow
      w calc(100% + 10px)
      l 10px
      t 10px
      transition .7s 1s left, .7s 1s top
  &__subtitle
    fontify 18px 400 28px
    mt 32px
  &__close
    pos absolute
    t 30px
    r 30px
    size 25px 25px
    background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAQAAABu4E3oAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQ8MICkSqxkAAAAAvUlEQVQ4y5XUsQ3CQAyF4T+PsW6P0DIAoo7EFEB2QBexA9UVzJEx0lAQQi7nSw6Xtr7CfpKr552WQGk5jqLF44qBpxWBfSFyePYEQSEaAQiK0AS+ZAvNwI+soQjMSQ4tQEwslIAl+aBuQgZICQTqEZkAdod03Z4XHQMXC9gEegaunHlYQ1lNHA0nGjsnmaCj5kZt56QMCGTDVQL8CMghJSC+koG0CkykDWAgbYIEqQAskIpAhFQIZqj6/4+9AX+6YCAbdqrhAAAAAElFTkSuQmCC') no-repeat center
    transition .7s background
    &:hover
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZBAMAAAA2x5hQAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAGFBMVEUNgyoNgyoNgyoNgyoNgyoNgyoNgyr///+g/DoWAAAABnRSTlMApzvk5W01almHAAAAAWJLR0QHFmGI6wAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MFDwwgNHGtddkAAABfSURBVBjTYxBigAMmAQZlBTgPyGQygksZQUTgUgxwSSgNlYRSEEG4frAoXDtIGGE0g4oCsrVMTkhSQMkQBSQeayoDLjlUfShmotqH4hZUd6L4AdV/KH5HDRfUMEMJTwC98gtRtyipIQAAAABJRU5ErkJggg==') no-repeat center
    &-btn
      mt 40px


.no-touchevents .popup-show
  mr 17px