.socials
  df(center, flex-start)
  @media $LandscapeMedium
    dn()
  &__href
    transition .7s background
    & + &
      ml 30px
    &[data-type="fb"]
      size 7px 14px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOCAQAAABJVM6QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQgKLwquDjC2AAAAfUlEQVQI103MMQ4BAQBE0beyElHothAncAAXULiIq+gcAAdwCo1WhCiIUieiVylGYWX9ZIqfmUwRNRM9dxHp55UkeZRgrouT67c9JFlEtMAbTyiyMjTScXdzlHMa1qWlganK3tbme7VLMmuuyjq1FnX+tNVo+zcuAmOVswsfoJo8gvsw0T4AAAAASUVORK5CYII=') no-repeat center
      &:hover
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAOCAMAAADUg/YpAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAeFBMVEX///8NgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyr///9ioWYWAAAAJnRSTlMARlQ6GfXopM+mzZfIgZnC9+XEktSlbIfqyopFyYSIzomLj0JXK9uZW64AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wUICjMN1h34SAAAAFFJREFUCNcdykUCgDAQA8DFS5Eixd3y/yey3Rwyh4SI4/kBdxgBMZsAKmU1MjdSjoK7NBXqpiULl476YcQ0L7ys2OSnsYsHTlHhEi1u8Xk/oh8h6wWSyso0wAAAAABJRU5ErkJggg==')
    &[data-type="tw"]
      size 13px 12px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAQAAAATvv9SAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQgKLyKbu5hMAAAAmklEQVQY022PsQpBARhGD1nuZlVegOFmwCADj8FDkBewKXkBZbCSVXkDqyx2GZRBGZRJx3C7XK7zb9/pr+/LyA99QrbMyWPHobxvZcTeBY7UmYGINT/sMVT14tiqg4TqYsWD/6hnKVAmzYMj4tB76mcjiCWfKdWKFI48fYmpxAonCbGMMmy7TsRne/H8jAFNGhTJcWXHhltc8gWxzMqCHRKttgAAAABJRU5ErkJggg==') no-repeat center
      &:hover
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAMAAACOacfrAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAilBMVEX///8NgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyr///8dmEeNAAAALHRSTlMAb51iEFl+qtCnhZoJNS7piDRxWjDVNkn2FvS2Kf1A4peKqEGz5m5Ff5ufjO0LiSkAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wUICjMl46hQsgAAAGlJREFUCNdFzdsSgjAQA9CgUAuiggVU8Ip4AfL/3wddrOQpZ3YmC/ziLZbwESjBiqQOEXEdAxvaaGzJXZLuRQZZzn8KHGYcT4Aqnapx7Xxxutrx6DbhPj1+CGpbn43011sO8efbdr3xBQPBjg+ew9GHmgAAAABJRU5ErkJggg==')
    &[data-type="yt"]
      size 14px 10px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAQAAAAu0KdMAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQgKLzqI1wAaAAAAj0lEQVQY03WQoQrCUBiFvztEsKwIwpClwXwARTCJdck38KlsewcX9gDDsiAs2AyWBQWTwbZwLJfLVbinfZzDB/9vBBt2LMiYkQBPXty5UXNFhUIpUBUsT6h3sNRRb6/s0eAAoYkOOlseIn4zJmbqyNOuVOrja0d0pHZ3+bN0aB8+xQjWbMnJSJhjeNgnNLRfqBqt0piwWkUAAAAASUVORK5CYII=') no-repeat center
      &:hover
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAMAAACzB5/1AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAclBMVEX///8NgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyr///97fmSCAAAAJHRSTlMAOXqhxNrzLkqwr+IzlfD7CV/CD23VNJz0UDZ1m77X8tnDoHlZ2amzAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MFCAo0Agnjcx4AAABVSURBVAjXVY1XDoAgAEPLVMS9977/GRWiCfTn5SVNCxDKuJBScEYDILydhFCuRtAGcZJa1cgMgLwoX2a/VnVj1Zbbrv/K3pTC4B9hnOZl3eR+nBfBA+JbDkLqA8pVAAAAAElFTkSuQmCC')
    &[data-type="od"]
      size 7px 13px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAQAAADPwLw+AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQgKMBZ3VWJnAAAAj0lEQVQI103LoQ4BAQCA4f/skmB24eJJFJso2C4qNpLsFcwbeAAewUYRdBMkWcAb2AXhipldvP0S8+fvR2y6t/TlwhBjH35b40w9GdtVDWkAB3JyMpKQMzDlRouEEnH7eyeBdSJSehQcuQZmRCy5UGXE4J/qE7HjXdWdtQrQpwFAShsXqg6dq+LKwrGIG98fGedtLmgVjX4AAAAASUVORK5CYII=') no-repeat center
      &:hover
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAANCAMAAABSF4SHAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAnFBMVEX///8NgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyr///+3NSXPAAAAMnRSTlMAJbX98YwEFuagccE2kHjhW+dJb/ymXhAiX5mOGeL0gVBaqPLvLuCqDnM5TYCd9VSh8xYjYGwAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wUICjQeHeIvUQAAAF9JREFUCNcljOsSQmAABZdCV6IiuqCbotB5/4frM86/3Z05YNmTqePizWQ2Z6Glt5JYy4dAbBRGW+1gP/SY5JBmx+jE+ZIX5fU2at3h8ZSqF7wNhjWO1HzMz7ftoP/9Ad8RCrgtFN+CAAAAAElFTkSuQmCC')
    &[data-type="vk"]
      size 15px 8px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAQAAACM2m15AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQgKMCpYOh7gAAAAiUlEQVQI12XJMW6BAQCG4W+0NUaNmC0SB+jqEIbO4hrugKlJu3RgbLf/AN0ZBIsL/DH9A8FjQBfv+D4xU/jxKubgU8RQofAdEzAWbfAr6vbgIxoqHHS0/nkMtl4iRmDpHSwMXFDpSETNynNfcuPoqp74qP/g6Cnvu/RmDU76D46mqZ2zmWj6A5srF6nCDZNiDDQAAAAASUVORK5CYII=') no-repeat center
      &:hover
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAICAMAAAARDVXAAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAkFBMVEX///8NgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyoNgyr///+q2ChhAAAALnRSTlMAqruzGqugaaaWlSi0Ee+dGfX5LR7bD4LTXdJn/gjXoTD6WUXtPNn8HJfg/cfaOUEj+AAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBQgKNDWxXtYRAAAAYElEQVQI1zWI2xqBQAAG/zZCKCuHHCuWQub9H4/l27maGUUmHmgIiTQyZqwJpJrCTPMMci0sy2LlO4X1RtpCuYP94YgtJJ3OBCp5ahu6ufzG1X3d3e7Q/kf3eL4idT28P7e9DFZ8wOISAAAAAElFTkSuQmCC')