.text
  max-width 988px
  margin 0 auto
  pt 149px
  fontify 22px 400 32px
  c black
  @media $lDesktopSmall
    fontify 20px 400 30px
    pt 0
  @media $desktopMedium
    fontify 18px 400 28px

.main
  oh()
  /body:not(.index) &
    pt 106px
    pos relative
    @media $LandscapeMax
      pt 120px
  h1:not([class])
    fontify 60px 500 64px
    mt 63px 
    mb 29px
    @media $lDesktopSmall
      fontify 48px 400 52px
    @media $desktopMedium
      fontify 38px 400 42px
    // @media $desktopTablet
    //   fontify 30px 400 34px
  h2:not([class])
    fontify 48px 500 52px
    margin 82px 0 32px
    @media $lDesktopSmall
      fontify 38px 400 42px
    @media $desktopMedium
      fontify 30px 400 34px
    // @media $desktopTablet
    //   fontify 26px 400 30px
  h3:not([class]),
  h4:not([class])
    fontify 36px 500 40px
    margin 83px 0 34px
    @media $lDesktopSmall
      fontify 32px 400 36px
    @media $desktopMedium
      fontify 26px 400 30px
    // @media $desktopTablet
    //   fontify 22px 400 26px
  iframe:not([class]),
  img:not([class])
    margin 1px 0
    max-width 100%
  ul:not([class])
    list-style  none
  ul:not([class]) li
    pl 30px
    pos relative
  ul:not([class]) > li:before
    content ""
    pos absolute
    l 2px
    t 14px
    size 20px 1px
    bgc $green
  ol:not([class])
    list-style none
    counter-reset myCounter
  ol:not([class]) li
    pl 30px
    pos relative
  ol:not([class]) > li:before
    counter-increment myCounter
    content counter(myCounter)"."	
    pos absolute
    l 0
    t 0
    w 32px
    pr 9px
    color $green
  p:not([class])
    margin 25px 0
  a:not([class])
    c $green
    border-bottom 1px solid alpha($green, .4)
    transition .5s border
    &:hover
      border-color transparent
 
  *:not([class]):not(span):first-child
    margin-top 0 !important
  *:not([class]):not(span):last-child
    margin-bottom 0 !important

  table
    tbody
      border-top 0
    th
      font-family $bold
      fontify 20px 400 26px
      padding 18px 26px
      text-align left
      border 1px solid #f2f2f2
    td
      padding 18px 26px
      fontify 16px 400 25px
      border 1px solid #f2f2f2

div[class\^="table-scroller"]
  overflow auto
  pos relative
  pl 1px
  margin 33px 0 33px
  @media $desktopMax
    w 100%