@media $LandscapeMaxFrom
  body.index
    .side
      l -220px
    .header,
    .banner,
    .banner__scroll
      opacity 0
    .banner__title
      span
        db()
        oh()
      i
        pos relative
        t 100%
    .banner__subtitle
      pos relative
      opacity 0
      b -20px
    .bests__slider
      opacity 0

    &.load
      .banner
        opacity 1
        transition .7s opacity
        .banner__title
          span:nth-child(1) i
            t 0
            transition .7s 1.4s top
          span:nth-child(2) i
            t 0
            transition .7s 1.5s top
          span:nth-child(3) i
            t 0
            transition .7s 1.6s top
          span:nth-child(4) i
            t 0
            transition .7s 1.7s top
        &__subtitle
          b 0
          opacity 1
          transition .7s 2.1s opacity , .7s 2.1s bottom
        &__scroll
          opacity 1
          transition .7s 2.8s opacity
      .side
        l 0
        transition .7s .7s left
      .header
        opacity 1
        transition .7s 2.8s opacity
      .bests__slider[visible]
        opacity 1
        transition .7s opacity

@media $lDesktopSmallFrom
  body.index
    .banner__title
      span
        h 94px

@media $largeIndex
  body.index
    .banner__title
      span
        h 72px

@media $middleIndex
  body.index
    .banner__title
      span
        h 54px

@media $PortraitMaxFrom
  .h-anim:not([data-type="custom"])
    pos relative
    opacity 0
    b -20px
    transition 1s opacity, 1s bottom
    &[visible]
      b 0
      opacity 1
      @media $LandscapeMinFrom
        &[data-delay="1"]
          transition-delay .7s
        &[data-delay="2"]
          transition-delay 1.4s

@keyframes burger-top
  0%
    t 50px
  40%
    t 65px
  60%
    t 65px
    transform rotate(0)
  100%
    t 65px
    transform rotate(45deg)
    
@keyframes burger-bottom
  0%
    b 51px
  40%
    b 64px
  60%
    b 64px
    transform rotate(0)
  100%
    b 64px
    transform rotate(-45deg)

@keyframes burger-top-invert
  0%
    t 65px
    transform rotate(45deg)
  40%
    t 65px
    transform rotate(0)
  60%
    t 65px
  100%
    t 50px
    
@keyframes burger-bottom-invert
  0%
    b 64px
    transform rotate(-45deg)
  40%
    b 64px
    transform rotate(0)
  60%
    b 64px
  100%
    b 51px

@keyframes scrollDown
  0%
    w 0
    opacity 0
  24%
    opacity 0
  25%
    opacity 1
  100%
    opacity 1
    w 100%

@keyframes scrollDownBg
  0%
    w 0
  100%
    w 100%

@keyframes usefulChanger
  0%
    l -83px
    opacity 1
  49%
    l -103px
    opacity 0
  50%
    l -63px
    opacity 0
  100%
    l -83px
    opacity 1

@keyframes usefulChangerDesk
  0%
    l 0
    opacity 1
  49%
    l -20px
    opacity 0
  50%
    l 20px
    opacity 0
  100%
    l 0
    opacity 1

@keyframes arrAnimation
  0%
    background-position 0 0
  100%
    background-position 0 -756px