@font-face {
  font-family: 'OfficinaSerifBoldC';
  src: url('fonts/OfficinaSerifBoldC.woff2') format('woff2'),
      url('fonts/OfficinaSerifBoldC.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OfficinaSerifBookC';
  src: url('fonts/OfficinaSerifBookC.woff2') format('woff2'),
      url('fonts/OfficinaSerifBookC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OfficinaSerifMediumC';
  src: url('fonts/OfficinaSerifMediumC.woff2') format('woff2'),
      url('fonts/OfficinaSerifMediumC.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
