.categories
  &__video
    pos absolute
    t 50%
    l 50%
    min-width 100%
    min-height 100%
    opacity .65
    transform translate(-50%, -50%)
    &-wrapper
      pos fixed
      z-index -1
      t 0
      r 0
      bgc $dark
      size calc(100% - 220px) 100%
      @media $desktopTablet
        w calc(100% - 180px)
      @media $LandscapeMin
        w 100%
  &__top
    max-width 580px
    text-align center
    c white
    padding 0 20px
    margin 0 auto
    pt 149px
    @media $lDesktopSmall
      pt 0
    .breadcrumbs
      c white
      pl 29px
  &__list
    mt 80px
    mb 200px
    @media $lDesktopSmall
      mb 100px
    @media $PortraitMax
      mt 45px
      mb 45px
  &__item
    & + &
      mt 35px
      @media $desktopMedium
        mt 25px
    &-href
      c white
      fontify 36px 400 40px
      bb(1px, solid, alpha(white, .15))
      @media $lDesktopSmall
        fontify 32px 400 36px
      @media $desktopMedium
        fontify 26px 400 30px
      @media $desktopTablet
        fontify 22px 400 26px
  &__catalog
    bgc $bgrey
    padding 72px 14px 14px
    mb -85px
    @media $desktopTablet
      padding 72px 7px 7px
    &-title
      text-align center
      fontify 48px 500 52px
      mb 32px
      @media $lDesktopSmall
        fontify 38px 400 42px
      @media $desktopMedium
        fontify 30px 400 34px
      // @media $desktopTablet
      //   fontify 26px 400 30px
    &-list
      df(stretch, flex-start)
      flex-wrap wrap
      pl 1px
      pb 1px
      ml -1px
      mb -1px
      w calc(100% + 1px)
    &-item
      pos relative
      df(center, center)
      w calc(20% - 1px)
      pt calc(20% - 1px)
      bgc white
      ml 1px
      mb 1px
      @media $desktopMax
        w calc(25% - 1px)
        pt calc(25% - 1px)
      @media $dekstop1142
        w calc(100% / 3 - 1px)
        pt calc(100% / 3 - 1px)
      @media $PortraitMax
        w calc(50% - 1px)
        pt calc(50% - 1px)
      &:before
        content ""
        pos absolute
        size 1px 100%
        bgc $bgrey
        l -1px
        t 0
      &:after
        content ""
        pos absolute
        size 100% 1px
        bgc $bgrey
        b -1px
        l 0
    &-href
      df(center, center)
      pos absolute
      t 0
      l 0
      size 100%
    &-img
      max-width 80%
      max-height 80%
      opacity .5
      filter grayscale(100%)
      transition .7s filter, .7s opacity
      ^[-1]-href:hover &
        opacity 1
        filter none